*.log
.DS_Store
.htaccess
sitemap.xml
sitemap.xml.gz
local-config.php
content/advanced-cache.php
content/backup-db/
content/backups/
content/blogs.dir/
content/cache/
content/upgrade/
content/uploads/
content/mu-plugins/debugging.php
content/mu-plugins/testing.php
content/plugins/debug-bar/
content/plugins/duplicate-post/
content/plugins/regenerate-thumbnails/
content/plugins/uploads-by-proxy/
content/wp-cache-config.php
*.codekit
*.scssc
env-config.php